@font-face {
  font-family: Digital;
  src: url(../fonts/digital/digit.ttf);
}

body {
  font-family: Dosis;
  font-size: 16px;
  letter-spacing: 1px;
}

#timemaster {
  margin-top: 20vh;
  padding: 20px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#timemaster h2 {
  padding: 0 0 20px;
  font-family: Dosis;
  font-weight: 800;
  font-size: 36px;
}

.navbar-nav a {
  cursor: pointer;
}

.navbar {
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.form {
  margin-top: 50px;
}

#title {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 300px;
  margin: auto;
}

input[type='number'] {
  width: 50px;
  padding: 6px;
  display: inline;
}

.start-btn {
  padding: 10px 20px;
  margin-top: 30px;
}

#time-left {
  font-family: Digital;
  font-size: 60px;
}
